{% extends "@JMBUser/base.html.twig" %}
{% trans_default_domain 'JMBUserBundle' %}

{% block page_title 'title.change_password'|trans %}

{% block jmb_user_content %}
    {{ form(form) }}
    <a href="{{ path('jmb_user_profile') }}">{{ 'link.profile_overview'|trans }}</a>
{% endblock jmb_user_content %}